body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
}

.calculator input {
    grid-column: span 4;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: right;
}

.calculator button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.calculator button:hover {
    background-color: #e0e0e0;
}

.dropbtn {
    background-color: blue;
    color: black;
    padding: 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0e0e0;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: lightcoral
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #e0e0e0;
}
