body {
    background-color: pink;
    font-family: Arial, sans-serif;
}
h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}
.images {
    display: flex;
    gap: 10%;
}
.images img {
    width: 90%;
    height: auto;
}
.images a {
    display: block;
    text-align: center;
    margin-top: 10%;
}


.footer {
    text-align: right;
    font-style: italic;
    font-family: monospace;
}